.sidebar {
    width: 200px; /* Adjust width as needed */
    height: 100vh; /* Full height of the viewport */
    background-color: #2c3e50;
    position: fixed; /* Fix it to the left side of the page */
    top: 0; /* Align with the top of the viewport */
    left: 0; /* Align with the left of the viewport */
    padding-top: 60px; /* Adjust padding to leave space for Navbar */
    z-index: 1000; /* Ensure it stays above other components */
  }
  
  .sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-menu li {
    margin: 15px 0;
  }
  
  .sidebar-menu li a {
    text-decoration: none;
    color: #ecf0f1;
    font-size: 16px;
    display: block;
    padding: 10px 20px;
    transition: background 0.3s;
  }
  
  .sidebar-menu li a:hover {
    background-color: #34495e;
  }
  